@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');


:root {
  --primary-bg: #f89224;
  --link-color-primary: #1d201f;
  --secondary-bg: #e1efe6;
  --link-color-secondary: #e1efe6;
  --primary-button-hover: #3c7d79;
}

html, .App, * {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg);
}

button {
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.8em 1.2em;
  font-size: 1.1rem;
}

button,
input {
  border-radius: 8px;
}

header, footer {
  max-height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-socials {
  min-width:65%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.footer-socials .creator-div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 
.footer-socials-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-socials img {
  height:32px;
  margin: 0 2px;
}
.footer-socials p {
  margin: 0;
}

.logo,.logo-wrapper {
  height: 3.5em;
}

nav {
  margin-right: 1em;
  display: flex;
}
.Foodle-header {
  font-family: 'Ms Madi', cursive;
  font-size: 26px;
  cursor: pointer;
  transition: all .1s ease-in-out;
}
.Foodle-header:hover {
  transform: scale(1.05);
  text-shadow: 0 0 5px white;
}
.Foodle-footer {
  font-family: 'Ms Madi', cursive;
  font-size: 20px;
  cursor: default;
  margin: 0 15px;
  line-height: 0;
}

nav a, nav h3 {
  text-decoration-color: var(--primary-bg);
  margin: auto 1em;
  color: var(--link-color-primary);
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
}

nav a:hover {
  color: var(--link-color-secondary);
  text-decoration-color: var(--link-color-primary);
}

main {
  min-height: calc(100vh - 4em);
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container, .signin {
  min-height: calc(100vh - 4em); 
  align-items: center;
  justify-content: center; 
  background-image: url('../assets/foodle-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-container img {
  max-width: 80%;
  margin: 0 auto;
}

.home-container button {
  padding: 0.8em 1.2em;
  background-color: var(--primary-bg);
  color: var(--link-color-secondary);
  font-size: 1.1rem;
}

.home-container button:hover {
  transform: scale(1.1);
  background-color: var(--primary-button-hover);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.card-overlay {
  position: relative;
  border: 2px solid var(--primary-button-hover); 
  width: 55%;
  margin: 12px;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3); 
  background-color: rgba(255,255,255,1);
  background: linear-gradient(323deg, rgb(104 193 197 / 75%) 0%, rgba(255,255,255,.75) 100%);
}

form, .input-wrapper {
  margin: auto;
  width: 80%;
}

form label {
  align-self: flex-start;
}

.input-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}
.input-wrapper.center {
  text-align: center;
}
.input-wrapper input {
  padding: 0.6em 1.2em;
  margin: 0.5em auto;
  width: 100%;
  border-color: var(--primary-bg);
  font-size: 1.1rem;
  outline: none;
}

input::placeholder {
  opacity: 0.7;
}

form button {
  background-color: var(--primary-button-hover);
  margin: 1em 0;
  color: var(--link-color-secondary);
  align-self: center;
  width: 100%;
}

form button:hover {
  opacity: 0.7;
}

form button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  margin-top: 4em;
}

.col-4 {
  grid-template-columns: repeat(auto-fill, 400px);
}

.card {
  width: 350px;
  min-height: 500px;
  background-color: var(--primary-bg);
  color: var(--secondary-bg);
  border-radius: 8px;
  padding: 1em;
}

.card img {
  width: 100%;
}

.protected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* *** POST CARD COMPONENT *** */

.post-card-container {
  display: flex;
  max-height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(323deg, rgb(104 193 197 / 75%) 0%, rgba(255,255,255,.75) 100%);
}

.post-container {
  width: 80%;
  transition: all .1s ease-in-out;
}

.post-container:hover {
  box-shadow: 0 0 15px var(--primary-button-hover);
  transform: scale(1.01);
}

.post-card-container img {
  height: 314px;
  width: 314px;
  border: solid white;
  padding: 0.5em;
  border-radius: 25px;
}

/* *** FEED PAGE *** */

.feed-page {
  background-image: url('../assets/feed-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.username-stripe {
  width: min(50%, 200px);
  background: rgba(255,255,255,.5);
  /* border: solid thin gray; */
  border-radius: 8px;
  margin: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0;
  font-size: smaller;
  font-style: italic;
  cursor:pointer;
} .username-stripe:hover {
  text-decoration: underline;
  border: solid thin gray;
}


/* *** PROFILE PAGE *** */

.user-profile{
  background-image: url('../assets/feed-background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 90%;
  min-height: 100vh;
}

.profile-wrapper, .feed-wrapper {
  width: 80%;
  /* max-height: 50%; */
  margin: 0 auto;
  padding: 8px 0 24px 0;
  background:rgba(255,255,255, 0.5);
  color:black;

}

.profile-info{
  width: 95%;
  margin: 0 auto 4px auto;
  padding: 10px;
  border: 3px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(158deg, rgb(255 132 0 / 60%) 0%, rgba(255,255,255,.75) 100%);
}

.profile-img-container {
  background-image: url('../assets/profile-blank.png');
  background-size: cover;
  border: solid 3px black;
  border-radius: 50%;
  height: 200px;
  max-width: 200px;
  min-width:200px;
  margin: 4px 8px;
  flex: 25;
}
.username-stripe-img {
  height: 40px;
  max-width: 40px;
  min-width: 40px;
  border: solid thin gray;
}

.profile-info-container {
  margin: 4px;
  flex: 75;
}

.profile-info h1, .profile-info h2, .profile-info h4, .profile-info p {
  margin: 0 auto 8px auto;
}

.profile-info button {
  margin: 8px auto;
  padding: 5px 10px;
  border: solid thin #aaa;
}

.profile-info button:hover {
  background: #aaa;
}

 .post-container {
  position: relative; 
  margin: 20px auto;
}

.post-container button {
  position:absolute;
  top: 6px;
  right: 6px;
  padding: 5px 8px;
  border: solid thin #999;
  font-size: .8em;
  font-style: italic;
}

.post-container button:hover {
  background-color: #aaa;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

/* *** CREATE NEW POST *** */

.create-post {
  background-image: url('../assets/food-background.jpeg');
  opacity: 60%;
  min-height: calc(100vh - 4em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.create-post .card-overlay h3 {
  margin-top: 0;
  text-align: center;
}

.create-post .card-overlay p {
  margin:0;
}
.create-post .card-overlay button {
  margin: 0 auto;
}

.post-detail {
  position: fixed;
  left: 400px;
  top: 100px;
  max-height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.3);
  background: linear-gradient(323deg, rgb(104 193 197 / 75%) 0%, rgba(255,255,255,.75) 100%);
}

.post-detail img {
  max-height: 314px;
  max-width: 314px;
  border: solid white;
  padding: 0.5em;
  border-radius: 25px;
}

.search-user-page {
position: fixed;
left: 400px;
top: 100px;
padding: 4em;
justify-content: space-around 250px;
margin: 18px;
background: square;

}